# Flutter 相关
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# IDE 相关
.idea/
.vscode/
*.iml
*.swp
*.swo
*~

# macOS 相关
.DS_Store
.profile

# Windows 相关
Thumbs.db

# 代码生成
*.g.dart
*.freezed.dart
*.mocks.dart
*.mocks.dart.*

# 日志
*.log

# Melos
.melos/
